<div class="container pt-3">
  <div class="row">
    <div class='table-responsive'>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">店名</th>
            <th scope="col">電話番号</th>
            <th scope="col">住所</th>
          </tr>
        </thead>
        <tbody>
          <% @shops.each do |shop| %>
            <%= render 'shop', shop: shop %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
