<h1>いいね一覧</h1>
<div class="container pt-3">
  <div class="row">
    <div class='table-responsive'>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">店名</th>
            <th scope="col">電話番号</th>
            <th scope="col">住所</th>
          </tr>
        </thead>

        <tbody>
        <% @liked_shops.each do |shop| %>
        <tr>
            <td><%= shop.name %></td>
            <td><%= shop.phone_number %></td>
            <td><%= shop.address %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
   </div>
</div>
